.FloatOne {
  animation: float 6s ease-in-out infinite;
}

.FloatTwo {
  animation: float 10s ease-in-out infinite;
}
.FloatThree {
  animation: float 8s ease-in-out infinite;
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
