.ClaimNft {
  @apply text-white px-[2rem] md:px-[5rem] flex items-center justify-center h-screen;
}
.ClaimNft .Card {
  @apply w-full bg-[#0ac5a9e8] rounded-md;
}

.ClaimNft .Card .Pfp {
  @apply h-[15rem] w-[15rem] transition-all;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.ClaimNft .Card .Pfp:hover {
  @apply rounded-md;
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
}

.ClaimNft .Card .Content {
  @apply bg-white dark:bg-black;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

/* ------------------- */
/* .member-page {
  flex-direction: column;
  width: 960px;
  max-width: calc(100% - 1rem);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: auto;
  align-content: center;
  display: flex;
  text-align: center;
}

.member-page > div {
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: left;
  gap: 2rem;
}
.member-page > div > div {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 1rem;
}
@media screen and (max-width: 768px) {
  .member-page > div {
    flex-direction: column;
  }
  .member-page > div > div {
    width: 100%;
  }
}

.member-page form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.member-page form > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.member-page form h5 {
  margin-top: 0;
  color: #7700ee;
}

.member-page form .card > div {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.member-page form small {
  text-align: center;
}

.card {
  background-color: #fff;
  padding: 1rem;
  border-radius: 1rem;
  color: #000;
  box-shadow: 3.1px 6.2px 6.2px hsl(0deg 0% 0% / 0.4);
} */
