@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
body {
  margin: 0;
  font-family:"Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* colour pallet */
.primaryOne {
  color: #0ac5a8;
}
.primaryTwo {
  color: #2c3c5b;
}
.primaryThree {
  color: #869cb8;
}
.primaryOne {
  color: #ebebeb;
}
.primaryOne {
  color: #f5f5f5;
}

.TextGradient {
  background: #2c3c5b;
  background: -webkit-linear-gradient(to right, #2c3c5b 0%, #0ac5a8 100%);
  background: -moz-linear-gradient(to right, #2c3c5b 0%, #0ac5a8 100%);
  background: linear-gradient(to right, #2c3c5b 0%, #0ac5a8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
